@import "./css-grid.scss";
@import "./nav-menu.scss";

$attentionColor: #7AFFFD; // #60ece8; // #6df557; // #4006e2; // #ea7e3a; // anchors
$bgColor: #6c6c6c; // background-color
$pColor: #f8f9fa; // <p>
$anchorColor: #6df557; // #AAA8A5; // <a>
$activeColor: #7ebbf9; // #61f1b7; // #6df557; // #f8f9fa; // #525354; // <a> active
$headerColor: #2b2d2e; // #323334; // #0F0F11; // #323334; // header
$h1Color: #f8f9fa; // <h1>

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $bgColor;
}

/****************************************
************default: heights************
****************************************/
html, body, main, .router-wrapper, #root {
  height: 100%;
}

/**********************
*******Container*******
***********************/
// container
.bg-image {
  overflow: auto;
  width: 100%;
  height: 100%;
  grid-row: 2 / -2;
  grid-column: 1 / -1;
  opacity: 0.2;
  z-index: -1;
}

